  /*
  * Sidebar
  */
  .sidebar {
    position: fixed;
    height: 100vh;
    min-width: 260px;
    max-width: 260px;
    background-color: #66615b;
    transition: all 0.6s; /*Coming back transition */
    overflow: hidden;
    z-index: 9999;
    left: 0;
  }

  /* ACTIVE MEANS HIDDEN. Main Panel is OPPOSITE of sidepanel. If sidepanel is active, mainpanel IS NOT */
  .sidebar.active {
      min-width: 80px;
      max-width: 80px;
      transition: all 0.6s;
  }

  .sidebar.active span{
    /*display: none;*/
    opacity: 0;
    transition: all 0.6s;
    
  }

  .sidebar span{
    transition: all 0.6s;
    white-space: nowrap;

  }

  .sidebar.active a.dropdown-toggle::after{
    opacity: 0;
  }

  .sidebar .logo {
      position: relative;
      padding: 7px .7rem;
      z-index: 4;
      font-size: 24px;
      
  }
  .sidebar .simple-text label {
    padding-left: 34px;

  }

  .sidebar .simple-text a {
      color: #fff;
      line-height: 40px;
      padding: 10px 23px;
      overflow: hidden;
      white-space: nowrap;
      display: list-item;
  }

  .wrapper {
      align-items: stretch;
      display: flex;
      width: 100%;
  }

  .sidebar .nav {
      display: block;
  }

  .sidebar .nav li {
      display: list-item;
  }

  .sidebar li>a {
      display: list-item;
      color: #fff;
      margin: 0px;
      font-size: 16px;
      padding: 10px 23px;
      line-height: 20px;
      white-space: nowrap;
      
  }

  .subnav li>a {
      display: list-item;
      color: #fff;
      margin: 0px;
      font-size: 14px;
      padding: 5px 23px;
      line-height: 30px;
      white-space: nowrap;
  }

  a.active, li.active {
      background-color: green; 
      color: #fff
  }

  .sidebar .nav .icon.icon-header {
    color: #fff;
    font-size: 25px;
  }

  .sidebar .nav .icon {
      margin-right: 12px;
      font-size: 15px;
      width: 34px;
      text-align: center;
      color: hsla(0,0%,100%,.5);
  }



  .sidebar .nav .photo {
      margin-right: 12px;
      font-size: 25px;
      width: 34px;
      text-align: center;
  }

  /*
  * Sidebar -> Navbar
  */
  .navbar-divider {
      background-color: hsla(0, 0%, 71%, .2);
      border:solid;
      border-width: thin 1px 1px 1px;
      border-color: hsla(0, 0%, 71%, .2);
      width: 70%;
      margin: auto;
  }

  .navbar {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 929;

      border-bottom:1px solid #ddd;
      min-height: 53px;
  }

  .navbar-toggle-icon {
      font-size: 25px;
  }

  a[data-toggle="collapse"] {
      position: relative;
  }

  #sidebar .dropdown-toggle::after {
      display:block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }

  /*
  * Main Panel
  */

  #main-panel {
      width: calc(100% - 80px);
      background-color: #f4f3ef;
      top: 0;
      right: 0;
      min-height: 100%;
      position: absolute;
      transition: all 0.6s;
  }

  #main-panel.active {
    width: calc(100% - 260px);
    background-color: #f4f3ef;
    top: 0;
    right: 0;
}

  .main-panel>.content {
      padding: 0 15px 15px;
      min-height: calc(100vh - 160px);
      margin-top: 30px;
  }

  @media (max-width: 768px) {
    /* ACTIVE MEANS SHOW in media mode. Main Panel is Opposite of sidebar. If sidebar is active, mainpanel is inactive */
    #sidebar.active {
      min-width: 260px;
      max-width: 260px;

      position: fixed;
    }
      #sidebar {
        min-width: 0px;
        max-width: 0px;
      }

      #main-panel,
      #main-panel.active {  
        width: 100%;
      }

      .sidebar span{
        white-space: nowrap;
      }

      .sidebar.active a.dropdown-toggle::after{
        opacity: 1;       
      }
      .sidebar a.dropdown-toggle::after{
        opacity: 0;       
      }

      .sidebar.active span{
        opacity: 1;
      }

      /* display .overlay when it has the .active class */
      .overlay.active {
        display: block;
        opacity: 1;
      }

      .main-panel>.content {
        padding: 0 10px 10px;
      }

      .card-body {
        padding: 0.5rem;
      }

      .bootstrap-select {
        width: 180px;
      }
  }



  a, a:hover, a:focus {
  text-decoration: none;
  transition: all 0.6s;
  }

  #sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
  }

  .overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

td.shrink, th.shrink {
  width:0.1%;
} 

td.nowrap, th.nowrap {
  width:0.1%;
  white-space: nowrap;
} 

td.notest {
  white-space: normal;
  width: 100%;
}

.datetimepicker-input {
  min-width: 70px;
}

div.checkboxdiv {
  background-color: #fff;
  border: 0;
}

div.nowrap {
  white-space:nowrap;
}

body {
  background-color: #f4f3ef;
}